html,
body {
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home {
  background-image: url('./public/winter_mountains.jpg'),
    url('./public/beach.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  background-attachment: fixed;
  -moz-background-size: 100% 50%, 100% 50%;
  -webkit-background-size: 100% 50%, 100% 50%;
  background-size: 100% 50%, 100% 50%;
}

/* Animations */

.item-enter {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  /* opacity: 0; */
}
.item-enter-active {
  animation-name: fadeInUp;
  animation-duration: 500ms;
  -webkit-animation-name: fadeInUp;
  -webkit-animation-duration: fadeInUp;
  /* opacity: 1; */
}
.item-exit {
  animation-name: fadeOutDown;
  -webkit-animation-name: fadeOutDown;
  /* opacity: 1; */
}
.item-exit-active {
  animation-name: fadeOutDown;
  animation-duration: 500ms;
  -webkit-animation-name: fadeOutDown;
  -webkit-animation-duration: fadeOutDown;
  /* opacity: 0; */
}

.link-enter {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  font-family: "'Parisienne', cursive";
  /* opacity: 0; */
}
.link-enter-active {
  animation-name: fadeIn;
  animation-duration: 700ms;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: fadeIn;
  font-family: "'Parisienne', cursive";
  /* opacity: 1; */
}
.link-exit {
  animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  font-family: "'Helvetica Neue', sans-serif";
  /* opacity: 1; */
}
.link-exit-active {
  animation-name: fadeOut;
  animation-duration: 700ms;
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: fadeOut;
  font-family: "'Helvetica Neue', sans-serif";
  /* opacity: 0; */
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1000ms;
  -webkit-animation-name: fadeInUp;
  -webkit-animation-duration: fadeInUp;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
  animation-duration: 1000ms;
  -webkit-animation-name: fadeOutDown;
  -webkit-andimation-duration: fadeOutDown;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 5);
    /* font-family: "'Parisienne', cursive"; */
    font-family: "'Helvetica Neue', sans-serif";
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, -5);
    font-family: "'Parisienne', cursive";
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 700ms;
  -webkit-animation-name: fadeIn;
  -webkit-andimation-duration: fadeIn;
  font-family: "'Parisienne', cursive";
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 5);
    font-family: "'Parisienne', cursive";
  }

  to {
    opacity: 0;
    transform: translate3d(0, 0, -5);
    font-family: "'Helvetica Neue', sans-serif";
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 700ms;
  -webkit-animation-name: fadeOut;
  -webkit-andimation-duration: fadeOut;
  font-family: "'Helvetica Neue', sans-serif";
}

.box {
  width: 70pxpx;
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.box:hover::after,
.box:hover::before {
  transform: scale(1, 1);
}
.box::after,
.box::before {
  content: '';
  position: absolute;
  top: 15px;
  right: 20px;
  bottom: 15px;
  left: 20px;
  transition: all 0.5s;
}
.box::after {
  border-right: 1px solid white;
  border-left: 1px solid white;
  transform: scale(1, 0);
}
.box::before {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transform: scale(0, 1);
}

ul.react-paginate {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 5rem;
}

ul.react-paginate li a {
  border-radius: 7px;
  padding: 0.1rem 1rem;
  border: gray 1px solid;
  cursor: pointer;
}
ul.react-paginate li.previous a,
ul.react-paginate li.next a,
ul.react-paginate li.break a {
  border-color: transparent;
}
ul.react-paginate li.selected a {
  background-color: #0366d6;
  border-color: transparent;
  color: white;
  min-width: 32px;
}
ul.react-paginate li.disabled a {
  pointer-events: none;
  color: grey;
}
ul.react-paginate li.disable,
ul.react-paginate li.disabled a {
  cursor: default;
}
